doctype html

html(lang=en)
    block vars
        // Default pageTitle
        - var pageTitle = 'Home';
    head
        title #{pageTitle} - SummationTech

        // Meta
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Learn about SummationTech\'s incredible apps with compelling experiences on all your devices.')

        // Stylesheet
        link(rel='stylesheet', href='resources/css/app.css' media='screen, projection', type='text/css')

        // JavaScript
        script(type='text/javascript', src='resources/js/jquery-2.2.1.min.js')
        script(type='text/javascript', src='resources/js/app.js')

    body
        header
            - function getHref(page, href) { return page === pageTitle ? 'javascript:void(0);' : href; }
            - function getClass(page) { return page === pageTitle ? 'selected' : ''; }
            h1.logo
                a(href=getHref('Home', 'index.html')) SummationTech
            nav: ul
                li(class=getClass('Pray'))
                    a(href=getHref('Pray', 'pray.html')) Pray App
                li(class=getClass('About'))
                    a(href=getHref('About', 'about.html')) About
                li(class=getClass('Contact'))
                    a(href=getHref('Contact', 'contact.html')) Contact

        .content
            block content

        footer
            p Copyright &copy; <span class="copyright-year">2016</span> SummationTech. All Rights Reserved.
