doctype html

html(lang=en)
    block vars
        // Default pageTitle
        - var pageTitle = 'Home';
    head
        title #{pageTitle} - Summation.Tech

        // Meta
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Learn about Summation.Tech\'s incredible apps with compelling experiences on all your devices.')

        // Stylesheet
        link(rel='stylesheet', href='resources/css/app.css' media='screen, projection', type='text/css')

        // JavaScript
        script(type='text/javascript', src='resources/js/jquery-2.2.1.min.js')
        script(type='text/javascript', src='resources/js/app.js')

    body
        #top
        header
            .content-wrapper
                - function getHref(anchor) { return !anchor ? '#' : '#' + anchor; }
                h1.logo
                    a(href=getHref('top')) Summation.Tech
                nav: ul
                    li(class='active nav-button pray')
                        a(href=getHref('top')) Pray App
                    li(class='nav-button features')
                        a(href=getHref('features')) Features
                    li(class='nav-button inspiration')
                        a(href=getHref('inspiration')) Inspiration

        .content
            .content-wrapper
                block content

        footer
            .content-wrapper
                .social-media
                    a.social-icon.fa.fa-facebook(href='http://www.facebook.com')
                    a.social-icon.fa.fa-twitter(href='http://www.twitter.com')
                p Copyright &copy; <span class='copyright-year'>2016</span> Summation.Tech. All Rights Reserved.
